<div class="d-flex justify-content-center align-items-center vh-100 pt-5">
    <div class="table-container w-100">
        <p-table 
            [value]="pilotos" 
            sortField="code" 
            [sortOrder]="1" 
            [tableStyle]="{ 'min-width': '100%', 'max-width': '80rem' }"
            [paginator]="true"
            [rows]="12"
            responsiveLayout="scroll"
            selectionMode="single"> 

            <ng-template #header>
                <tr>
                    <th pSortableColumn="code"> Código <p-sortIcon field="code" /> </th>
                    <th pSortableColumn="givenName"> Nome <p-sortIcon field="givenName" /> </th>
                    <th pSortableColumn="permanentNumber"> Número <p-sortIcon field="permanentNumber" /> </th>
                    <th pSortableColumn="nationality"> Nacionalidade <p-sortIcon field="nationality" /> </th>
                    <th pSortableColumn="wiki"> Wiki </th>
                </tr>
            </ng-template>

            <ng-template #body let-piloto>
                <tr>
                    <td>{{ piloto.code }}</td>
                    <td>{{ piloto.givenName }} {{ piloto.familyName }}</td>
                    <td>{{ piloto.permanentNumber }}</td>
                    <td>{{ piloto.nationality }}</td>
                    <td> <a href="{{ piloto.url }}" target="_blank"> <img src="/wikipedia.png"> </a>  </td>
                </tr>
            </ng-template>

        </p-table>
    </div>
</div>
