p-table {
    display: flex;
    justify-content: center;
    font-family: F1Regular;   /* Usa a fonte F1Bold */
}

p-table th {
    font-family: F1Bold;      /* Usa a fonte F1Bold */
    border-bottom: 0;
    text-align: center !important;
}

p-table td {
    border-bottom: 0;
    user-select: none;
    text-align: center !important;
}

p-table img {
    width: 24px;
    user-select: pointer !important;
}