:root {
    --text-color: black;
    --background-color: white;
}

@font-face {
    font-family: F1Bold;
    src: url(./app/assets/fonts/Formula1-Bold.otf) format("truetype");
}

@font-face {
    font-family: F1Regular;
    src: url(./app/assets/fonts/Formula1-Regular.otf) format("truetype");
}

body {
    background-color: #18181b;
    overflow: hidden;
}